/***************************************************
Add your Google Fonts
Update ALL the named colours to create a monochromatic scheme
Style the menus - one horizontally and one vertically
Add the hover/active effects to your menu items
***************************************************/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab|Muli|Ovo');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    line-height: 1.6;
    /* ADD the Google sans-serif font to this font stack */
    font-family: 'Muli', 'Josefin Sans', sans-serif;
}
html, body{
    background-color: #2A507F;
}
h1{
    font-size: 5.854rem;
    /* ADD the Google serif font to this font stack */
    font-family: 'Ovo', 'Josefin Slab', Palatino, serif; 
    padding: 1rem 2rem;
    
}
h2{
    font-size: 4.23rem;
    /* ADD the Google serif font to this font stack */
    font-family: 'Ovo', 'Josefin Slab', Palatino, serif;
    padding: 1rem 2rem;
}
nav li{
    font-size: 2.618rem;
}
p{
    font-size: 1.618rem;
    padding: 1rem 2rem;
}
.wrapper{
    max-width: 1400px; 
    width: 80%;
    margin: 0 auto;
    background-color: #92C3FF;
    color: #65717F;
}
header{
    border-bottom: 0.8rem solid #55A1FF;
    background-color: #92C3FF;
    color: #65717F;
}


.menu-h{
    width: 100%;
}
.menu-h li{
    list-style-type: none;
    display: inline-block;
    width: 20%;
    text-align: center;
    float: left;
    /* style the list items to remove the bullets 
    and line up horizontally
    and take up 20% of the width of the ul */
}
.menu-h a,
.menu-h a:link,
.menu-h a:visited{
    color: #2A507F;
    text-decoration: none;
    /* style the anchors to fill the entire width of the li 
    make sure there is padding around your text */
}
.menu-h a:hover,  
.menu-h a:active{
    color: #92C3FF;
    background-color: #65717F;
}
.menu-v{
    width: 20%;
    float: left;
}
.menu-v li{
    list-style-type: none;
    text-align: center;
   /*margin: 1rem 0;*/
    /* style the list items to remove the bullets 
        and line up vertically
        and take up 100% of the width of the ul */
    }
.menu-v a,
.menu-v a:link,
.menu-v a:visited{
    color: #2A507F;
    width: 100%;
    padding: 1px;
    border: 1rem 0.5rem;
    /* style the anchors to fill the entire width of the li */
}
.menu-v a:hover,
.menu-v a:active{
   color: #55A1FF;       
}
main{
    width: 80%;
    float: right;
}
footer{
    clear:both;
}